body{
    font-family: 'serif, Times New Roman', Times;
    border: 5px solid burlywood ;
    background-color: azure;
    
}

header {
    
        background-color: #456990;
        text-align:center;
        padding : 40px;
        padding-top: 20px ;
        border-bottom: 3px solid #B0DB43;
      
}

h2{
    color: #840032;
}

img{
    border: 2px solid burlywood;
    border-radius: 75px;
    height: 150px;
    width: 150px;
}

a{
    color: #306B34;
    text-decoration: none;
}

aside{
    margin-right: 90%;
    background: #FF495C;
    padding-right:40px ;
    padding-bottom: 30px;
    padding-top: 20px ;
   
}

.bold{
    color: burlywood;
    border-bottom: 5px;
    border-style: solid #456990;
    padding-left: 8px;
}


footer{
       background-color: grey;
       padding-bottom: 30px;
}

h4{
    font-size: 125%;
}

.none{
      list-style: none;
}

article{
        padding-left: 15px;
}
#Education{
           padding-top: 40px;
}
#Experience{
    padding-top: 40px;
}

#Skills{
    padding-top: 40px;
}